name: Deploy
on: [push]
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: deploy docker compose
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          docker-compose -f personal-landing-page/docker-compose.yml down
          rm -rf personal-landing-page
          git clone https://github.com/jmoranin98/personal-landing-page.git
          docker-compose -f personal-landing-page/docker-compose.yml up -d --build